.recipe{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    &__title{
        font-size: 20px;
        font-weight: 600;
    }
    &__comment{
        font-size: 18px;
        margin-bottom: 15px; 
    }
    &__keys{
        
    }
    &__key{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &__smallKey{
        width: 40%;
    }
    &__smallValue{
        width: 40%;
    }
}